@include dekstop{
    .service {
		&__content {
            width: 450px;
            margin: 0 auto;
		}
}
}

@include mobile {
      .service{
            &__grids{
                  grid-template-columns: repeat(auto-fit, minmax(auto, 176px));
            }
      }
}