@include tablet {
    .slider {

		&__container {
            flex-wrap: wrap;
		}

		&__container-buttons {
            flex-direction: row;
            height: 20px;
            width: 100%;
            flex-flow: row-reverse;
		}

		&__button {}
            
}
}
